.env
የጤና_ወግ_-_የጤና_መረጃ_data.csv
raw_metadata.json
Lobelia_pharmacy_and_cosmetics_data.csv
ETHIO-AMERICAN_MEDICAL_TRAININGS(_CPD_)_&_HEALTH_CONSULTANCY_CENTER_data.csvDoctors_Ethiopia_data.csv
cleaned_metadata.json
venv
Doctors_Ethiopia_data.csv